.wrapper {
  height: 27.5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #333;
  background: darkcyan;

  .summary {
    width: 20%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-right: solid 2px #f4e7c3;

    .icon {
      display: flex;
      align-items: center;
      height: 2.5rem;
      font-size: 1.5rem;
    }

    p {
      font-size: 0.75rem;
      font-weight: bold;
    }
  }

  @media screen and (min-height: 850px) {
    .summary {
      .icon {
        height: 4.5rem;
        font-size: 3rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

.sunny {
  background-color: #eab96d;
}

.night {
  background-color: #2f2f2f;
}

.rain {
  background-color: #447ad0;
}

.winter {
  background-color: #fafafa;
  color: #1b1b1b;
}

.windy {
  background-color: #78909c;
}

.fog {
  background-color: #b6aba9;
}

.cloudy {
  background-color: #455a64;
}
