.wrapper {
  height: 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 1.25rem 0;
  padding: 0.5rem;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #333;
  background: darkcyan;

  .summary {
    height: 100%;
    width: 20%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-right: solid 2px #f4e7c3;

    .icon {
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 2rem;
    }
  }

  @media screen and (min-width: 760px) {
    height: 25%;
    // margin: 0;
    .summary {
      .icon {
        font-size: 3.5rem;
      }
    }
  }
}

.sunny {
  background-color: #eab96d;
}

.night {
  background-color: #2f2f2f;
}

.rain {
  background-color: #447ad0;
}

.winter {
  background-color: #fafafa;
}

.windy {
  background-color: #78909c;
}

.fog {
  background-color: #b6aba9;
}

.cloudy {
  background-color: #455a64;
}
