.wrapper {
  height: 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 1.25rem 0;
  padding: 0.5rem;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #333;
  background: darkcyan;

  // .summary {
  //   // height: 100%;
  //   width: 15%;
  //   display: flex;
  //   flex-flow: column;
  //   justify-content: center;
  //   align-items: center;

  //   .icon {
  //     height: 3rem;
  //     font-size: 2rem;
  //   }

  //   p {
  //     font-weight: bold;
  //   }
  // }

  // .dataPoint {
  //   // height: 100%;
  //   display: flex;
  //   flex-flow: column;
  //   justify-content: center;
  //   align-items: center;
  //   font-size: 1rem;

  //   .icon {
  //     height: 3rem;
  //     font-size: 2rem;
  //   }

  //   p {
  //     font-weight: bold;
  //   }
  // }

  .dataPoint {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;

    .icon {
      height: 3rem;
      font-size: 2rem;
    }

    p {
      font-weight: bold;
    }
  }
}
