.wrapper {
  height: 100%;
  width: 100%;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 35%;
  grid-template-areas:
    "icon currentTemp currentTemp currentTemp"
    "icon summary summary summary"
    "sideInfo sideInfo sideInfo sideInfo";
  border-radius: 15px;
  box-shadow: 1px 1px 5px #333;
  // background: #f6bd26;

  .mainIcon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }

  .currentTemp {
    grid-area: currentTemp;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 2rem;
  }

  .summary {
    grid-area: summary;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
  }

  .info {
    grid-area: sideInfo;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.5rem;
    border-top: solid 2px #f4e7c3;
  }

  @media screen and (min-height: 9000px) {
    .mainIcon {
      font-size: 3rem;
    }
  }

  @media screen and (min-width: 760px) {
    font-size: 1.25rem;

    .mainIcon {
      font-size: 6rem;
    }

    .currentTemp {
      font-size: 2.25rem;
    }
  }

  @media screen and (min-width: 1140px) {
    max-height: 90%;

    .mainIcon {
      font-size: 7rem;
    }

    .currentTemp {
      font-size: 2.5rem;
    }
  }
}

.sunny {
  background-color: #eab96d;
}

.night {
  background-color: #2f2f2f;
}

.rain {
  background-color: #447ad0;
}

.winter {
  background-color: #fafafa;
  color: #1b1b1b;
}

.windy {
  background-color: #78909c;
}

.fog {
  background-color: #b6aba9;
}

.cloudy {
  background-color: #455a64;
}
