.wrapper {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "icon icon currentTemp currentTemp"
    "icon icon summary summary"
    "sideInfo sideInfo sideInfo sideInfo";
  border-radius: 15px;
  box-shadow: 1px 1px 3px #222;
  background: #f6bd26;
  color: #fafef9;

  .icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    font-size: 8rem;
  }

  .currentTemp {
    grid-area: currentTemp;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }

  .summary {
    grid-area: summary;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .info {
    grid-area: sideInfo;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .dataPoint {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
}
