.dataPoint {
  width: 25%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    height: 2.5rem;
    font-size: 1rem;
  }

  span {
    .label {
      display: none;
    }

    p {
      font-size: 0.75rem;
      font-weight: bold;
    }
  }

  @media screen and (min-height: 720px) {
    .icon {
      height: 3rem;
      font-size: 2rem;
    }
    span {
      p {
        font-size: 1rem;
      }
    }
  }

  @media screen and (min-height: 900px) {
    .icon {
      height: 4.5rem;
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 760px) {
  .dataPoint {
    flex-flow: row;
    font-size: 1rem;

    .icon {
      height: 3.25rem;
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }

    span {
      display: flex;
      flex-flow: column;
      align-items: center;

      .label {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1140px) {
  .dataPoint {
    font-size: 1.25rem;
  }
}
