:root {
  --vh: 0px;
}

/* CSS Reset
======================================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: #000 dotted 2px;
  outline-offset: 0.05em;
}

/* Layout
======================================*/

.App {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20vh 1fr 7.5vh;
  grid-auto-columns: 100%;
  grid-template-areas:
    "header"
    "main"
    "footer";

  color: #fdfff2;

  .bg-image {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -10;
    background-size: cover;
    filter: blur(5px) brightness(65%);
    transform: scale(1.1); //Hides edges from blurring
  }

  header {
    grid-area: header;
    max-height: 100%;
  }

  .cardGrid {
    padding: 0.5rem 1.5rem;
    grid-area: main;
    max-height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40% 60%;
    grid-template-areas:
      "mainCard"
      "sideCards";

    .sideCardContainer {
      padding: 0.25rem;
    }
  }

  .defaultView {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    height: 64px;
    width: 64px;
    margin: auto;
  }

  footer {
    grid-area: footer;
    max-height: 100%;
  }

  @media screen and (min-width: 1140px) {
    .cardGrid {
      align-items: center;
      grid-template-columns: 60% 40%;
      grid-template-rows: auto;
      grid-column-gap: 1rem;
      grid-template-areas: "mainCard sideCards";

      .sideCardContainer {
        height: 90%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
      }
    }
  }
}

.sunny {
  background: url("./assets/Images/sunny.jpg") #333;
  background-size: cover;
}

.night {
  background: url("./assets/Images/night.jpg") #333;
  background-size: cover;
}

.rain {
  background: url("./assets/Images/rainy.jpg") #333;
  background-size: cover;
}

.winter {
  background: url("./assets/Images/snow.jpg") #333;
  background-size: cover;
}

.windy {
  background: url("./assets/Images/wind.jpg") #333;
  background-size: cover;
}

.fog {
  background: url("./assets/Images/fog.jpg") #333;
  background-size: cover;
}

.cloudy {
  background: url("./assets/Images/cloud.jpg") #333;
  background-size: cover;
}
